@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Convergence</h1><p>VNRVJIET'S Annual national level symposium </p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Welcome to Hyderabad's biggest technical symposium</h2>
        <p>
            
            Convergence is a annual national level technical symposium of VNR VJIET. The national level Technical Symposium
            under the banner “CONVERGENCE” has been instrumental
            in shifting the paradigm of usual coursework. Since its inception in 1999, it has evolved as an ultimate
            platform for the techno-maniacs. This is the 19th year of the legacy of convergence. The 2018 edition
            has taken up an untraded path on its way to be stupendous, throwing light on new ideas.


        </p>
    </div>
    <div class="col-md-4">
        <h2>Go to</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://http://www.vnrvjiet.ac.in/">vnrvjiet &raquo;</a></p>
    </div>

</div>